<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IThing" type="DIFactory.IThing, DIFactory" />
  <alias alias="ThingOne" type="DIFactory.ThingOne, DIFactory" />
  <alias alias="ThingTwo" type="DIFactory.ThingTwo, DIFactory" />
  <alias alias="ThingThree" type="DIFactory.ThingThree, DIFactory" />
  <alias alias="ThingFactory" type="DIFactory.ThingFactory, DIFactory" />

  <container>
    <register type="IThing" mapTo="ThingOne" name="Thing1" />
    <register type="IThing" mapTo="ThingTwo" name="Thing2" />
    <register type="IThing" mapTo="ThingThree" name="Thing3" />
    <register type="ThingFactory">
      <!--<property name="FuncUnityContainer" />-->
    </register>
  </container>
</unity>
