
@{
    ViewData["Title"] = "Index";
}

<h2>ASP.NET Core MVC - Forms</h2>
<form action="/home/index" method="post">
    <label for="Pin">Pin</label>
    <input type="text" name="Pin" />
    <input type="submit" name="submit" />
</form>

    <a href="Home/Create">Create</a>
